/* Tablet */
@media only screen and (max-width: 991px) {
    /* Header */
    .main-header {
        padding: 20px;
    }
    /* Lista della Navbar */
    .navbar ul {
        display: none;
    }
    /* Hamburger */
    .hamburger {
        display: block;
    }
    /* Carta nell'Hero */
    .hero-card {
        flex-wrap: wrap;
    }
    /* Immagine Hero */
    .hero-card__img img {
        width: 50%;
    }
}

/* Smartphone */
@media only screen and (max-width: 600px) {
    [class^="col-"] {
        flex-basis: 100%;
    }
}