/* Tablet */
@media only screen and (max-width: 991px) {
    /* Lista della Navbar */
    .navbar ul {
        display: none;
    }
    /* Hamburger */
    .hamburger {
        display: block;
    }
    /* Carta nell'Hero */
    .hero-card {
        flex-wrap: wrap;
    }
    /* Colonna doppia Hero */
    .col-2 .hero-card__text,
    .col-2 .hero-card__img {
        flex-basis: 100%;
    }
    /* Riga sezione Planning */
    .planning .row {
        flex-wrap: wrap;
        gap: 20px;
    }
    /* Colonne sezione Planning */
    .planning .col-left,
    .planning .col-right {
        flex-basis: 100%;
    }
    /* Colonne sezione Benefits */
    .benefits .col-3 {
        flex-basis: 50%;
    }
    /* Span immagine About Us */
    .about-us__img span {
        font-size: 48px;
    }
}

/* Smartphone */
@media only screen and (max-width: 600px) {
    /* Colonne in generale */
    [class^="col-"],
    .benefits .col-3 {
        flex-basis: 100%;
    }
    /* Carta dei feedback */
    .feedback-card {
        flex-direction: column;
    }
    /* Blocco immagine Carta Feedback */
    .feedback-card__img {
        text-align: center;
    }
    /* Immagine Carta Feedback */
    .feedback-card__img img {
        width: 50%;
    }
    /* Testo Carta Feedback */
    .feedback-card__text {
        padding: 0px;
        text-align: center;
    }
    /* Riga Abous Us Box */
    .about-us-box .row {
        flex-wrap: wrap;
    }    
    /* Colonne About Us */
    .about-us .col-70,
    .about-us .col-3 {
        padding: 0px;
    }
    /* Span immagine About Us */
    .about-us__img span {
        font-size: 72px;
    }
}