/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --light-grey: #404448;
    --violet: #9792E4;
    --orange: #FDC15F;
    --light-black: #333333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Liste */
ul, ol, menu {
    list-style: none;
}

/* Ancora */
a {
    text-decoration: none;
    color: currentColor;
}

/* Container */
.container {
    max-width: 1204px;
    margin: 0px auto;
    padding: 0px 32px;
}

/* Container piccolo */
.container-small {
    max-width: 944px;
    margin: 0px auto;
    padding: 0px 32px;
}

/* Bottone */
.button {
    padding: 10px 15px;
    border-radius: 999px;
}

/* Bottone bianco */
.white {
    background-color: white;
    color: black;
}

/* Bottone blue */
.blue {
    background-color: var(--blue);
    color: white;
}

/* Bottone viola */
.violet {
    background-color: var(--violet);
    color: white;
}

/* Header */
.main-header {
    background-color: var(--blue);
    color: white;
    padding: 20px 0px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Lista della Navbar */
.navbar ul {
    display: flex;
    gap: 20px;
}

/* Hamburger */
.hamburger {
    display: none;
}

/* Colore di background per le sezioni che si alternano */
.main-content section:nth-child(2n) {
    background-color: var(--violet);
}

/* Sezione Hero */
.hero {
    padding-top: 50px;
    padding-bottom: 100px;
}

/* Riga */
.row {
    display: flex;
}

/* Riga dell'Hero Box */
.hero-box .row {
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0px -12px;
}

/* Colonna grande i 2/3 della riga */
.col-2 {
    flex-basis: calc(100% / 3*2);
}

/* Colonna grande 1/3 della riga */
.col-3 {
    flex-basis: calc(100% / 3);
}

/* Carta dell'Hero */
.hero-card {
    background-color: var(--light-blue);
    display: flex;
    padding: 20px;
    margin: 0px 12px;
    border-radius: 16px;
    height: 100%;
}

/* Hero Card nelle colonne più piccole */
.col-3 .hero-card {
    flex-direction: column-reverse;
    justify-content: flex-end;
    text-align: center;
}

/* Testo della Hero Card */
.hero-card__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Testo della Hero Card grande i 2/3 */
.col-2 .hero-card__text {
    flex-basis: 50%;
}

/* Bottone dalla Hero Card*/
.hero-card__text .button {
    width: max-content;
    font-weight: bold;
    letter-spacing: 3px;
}

/* Sottotitolo testo Hero Card */
.hero-card__text h2 {
    color: var(--blue);
}

/* Paragrafo Hero Card */
.hero-card__text p {
    color: var(--light-grey);
    line-height: 24px;
}

/* Immagine Hero Card */
.col-2 .hero-card__img {
    flex-basis: 50%;
}

/* Immagine utilizzata nella Hero Card */
.hero-card__img img {
    max-width: 100%;
    text-align: center;
    margin-bottom: -24px;
    display: block;
}

/* Icona della Hero Card */
.hero-card__img span {
    font-size: 72px;
    color: var(--blue);
}

/* Sezione Planning */
.planning {
    padding-top: 115px;
    padding-bottom: 65px;
}

/* Riga nel Planning Box */
.planning-box .row {
    gap: 60px;
}

/* Colonne nella sezione Planning */
.planning .col-left,
.planning .col-right {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0px;
}

/* Colonna di destra */
.col-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Carta Planning */
.planning-card {
    display: flex;
    flex-direction: column;
}

/* Testo Carta Planning */
.planning-card__text {
    display: flex;
    flex-direction: column;
}

/* Immagine della Carta Planning */
.planning-card__img img {
    width: 100%;
}

/* Carta Planning presente nella colonna a sinistra  */
.col-left .planning-card {
    color: white;
    gap: 115px;
}

/* Testo Carta Planning nella colonna a sinistra */
.col-left .planning-card__text {
    gap: 60px;
}

/* Carta nella colonna di destra */
.col-right .planning-card {
    text-align: center;
    background-color: white;
    border-radius: 36px;
    padding: 10px;
}

/* Testo Carta Planning nella colonna di destra */
.col-right .planning-card__text {
    align-items: center;
    gap: 20px;
}

/* Paragrafo Carta Planning */
.col-right .planning-card__text p {
    font-style: italic;
}

/* Span a forma di cerchio */
.col-right .planning-card__text span {
    background-color: var(--violet);
    border-radius: 999px;
    display: block;
    height: 40px;
    width: 40px;
    padding: 10px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
}

/* Sezione Testimonials */
.testimonials {
    padding-top: 65px;
    padding-bottom: 110px;
}

/* Titoli della sezione Testimonials */
.testimonials-box__titles {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

/* Sottotitolo sezione Testimonials */
.testimonials-box__titles h2 {
    font-size: 14px;
}

/* Sottotitolo sezione Testimonials */
.testimonials-box__titles h3 {
    font-size: 28px;
    color: var(--violet);
}

/* Feedback */
.testiomonials-box__feedbacks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Carta Feedback */
.feedback-card {
    flex-basis: 100%;
    background-color: var(--violet);
    border-radius: 36px;
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Blocco immagine della Carta Feedback */
.feedback-card__img {
    flex-basis: 20%;
    border-radius: 100%;
}

/* Immagine della Carta Feedback */
.feedback-card__img img {
    width: 100%;
    border-radius: 999px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Testo della Carta Feedback */
.feedback-card__text {
    flex-basis: 80%;
    color: white;
    padding-left: 50px;
}

/* Citazione */
.quote {
    line-height: 28px;
    padding-bottom: 20px;
}

/* Autore della citazione */
.author {
    font-weight: bold;
}

/* Sezione Benefits */
.benefits {
    padding-top: 75px;
    padding-bottom: 65px;
}

/* Blocco titolo sezione Benefits */
.benefits-title {
    color: white;
    text-align: center;
    padding-bottom: 70px;
}

/* Titolo Benefits */
.benefits-title h2 {
    font-size: 32px;
}

/* Riga sezione Benefits */
.benefits .row {
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0px -12px;
}

/* Colonne sezione Benefits */
.benefits .col-3 {
    padding: 0px 12px;
}

/* Carta Benefits */
.benefits-card {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

/* Titolo Carta Benefits */
.benefits-card__head h3 {
    color: var(--violet);
    font-size: 62px;
}

/* Sottotitolo Carta Benefits */
.benefits-card__body h4 {
    color: var(--violet);
    font-size: 24px;
    margin-bottom: 30px;
}

/* Paragrafo Carta Benefits */
.benefits-card__body p {
    color: var(--light-grey);
    line-height: 24px;
}

/* Sezione About Us */
.about-us {
    padding-top: 100px;
    padding-bottom: 150px;
}

/* Box di About Us */
.about-us-box {
    padding: 0px 50px;
}

/* Colonna grande il 70% */
.col-70 {
    flex-basis: 70%;
}

/* Blocco titolo About Us */
.about-us__title {
    color: var(--violet);
}

/* Titolo About Us */
.about-us__title h2 {
    font-size: 52px;
    padding-bottom: 55px;
}

/* Paragrafo della colonna al 70% di About Us */
.about-us-box .col-70 .about-us__text p {
    line-height: 24px;
    padding-bottom: 65px;
}

/* Immagine About Us */
.about-us__img img {
    width: 100%;
    border-radius: 999px;
    aspect-ratio: 1/1;
    object-fit: cover
}

.about-us-box .col-3 .about-us__text p {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: var(--violet);
    padding-bottom: 40px;
}