/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --violet: #9792E4;
    --orange: #FDC15F;
    --light-black: #333333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Liste */
ul, ol, menu {
    list-style: none;
}

/* Ancora */
a {
    text-decoration: none;
    color: currentColor;
}

/* Container */
.container {
    max-width: 1140px;
    margin: 0px auto;
}

/* Bottone */
.button {
    padding: 10px 15px;
    border-radius: 999px;
}

/* Bottone bianco */
.white {
    background-color: white;
    color: black;
}

/* Header */
.main-header {
    background-color: var(--blue);
    color: white;
    padding: 20px 0px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Lista della Navbar */
.navbar ul {
    display: flex;
    gap: 20px;
}

/* Hamburger */
.hamburger {
    display: none;
}