/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --light-grey: #404448;
    --violet: #9792E4;
    --orange: #FDC15F;
    --light-black: #333333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Liste */
ul, ol, menu {
    list-style: none;
}

/* Ancora */
a {
    text-decoration: none;
    color: currentColor;
}

/* Container */
.container {
    max-width: 1140px;
    margin: 0px auto;
}

/* Bottone */
.button {
    padding: 10px 15px;
    border-radius: 999px;
}

/* Bottone bianco */
.white {
    background-color: white;
    color: black;
}

/* Bottone blue */
.blue {
    background-color: var(--blue);
    color: white;
    padding: 10px 15px;
}

/* Header */
.main-header {
    background-color: var(--blue);
    color: white;
    padding: 20px 0px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Lista della Navbar */
.navbar ul {
    display: flex;
    gap: 20px;
}

/* Hamburger */
.hamburger {
    display: none;
}

/* Riga dell'Hero Box */
.hero-box .row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* Colonna grande i 2/3 della riga */
.col-2 {
    flex-basis: calc((100% * (2/3)) - 25px);
}

/* Colonna grande 1/3 della riga */
.col-3 {
    flex-basis: calc((100% / 3) - 25px);
}

/* Carta dell'Hero */
.hero-card {
    background-color: var(--light-blue);
    display: flex;
    padding: 10px;
    border-radius: 6px;
    height: 100%;
}

/* Hero Card nelle colonne più piccole */
.col-3 .hero-card {
    flex-direction: column-reverse;
    text-align: center;
}

/* Testo della Hero Card */
.hero-card__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Bottone dalla Hero Card*/
.hero-card__text .button {
    width: max-content;
    font-weight: bold;
    letter-spacing: 3px;
}

/* Sottotitolo testo Hero Card */
.hero-card__text h2 {
    color: var(--blue);
}

/* Paragrafo Hero Card */
.hero-card__text p {
    color: var(--light-grey);
    line-height: 24px;
}

/* Immagine Hero */
.hero-card__img img {
    width: 100%;
}

/* Icona della Hero Card */
.hero-card__img span {
    font-size: 72px;
    color: var(--blue);
}